#bg_image{
  background: url('/assets/montrealrb_office_hours.png') no-repeat;
  display: block;
  height: 27em;
  width: 100%;
  min-width: 945px;
  background-size: 100% auto;
}

#title{
  text-align: center;
  margin-top: -200px;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.container{
  margin-top:200px;
}

footer{
  margin-top:50px;
  text-align:right;
  background:#F8F7F7;
}

footer .container{
  margin-top:0;
  margin-bottom:10px;
  padding:10px 0;
}
