<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Montreal.rb Office Hours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Montreal.rb Office Hours">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="bg_image">
    </div>
    <h1 id="title">Montreal.rb Office Hours</h1>
    <div class="container">
      <div class="row">
        <div class="span4">
          <h3><i class="icon-laptop"> </i> Format </h3>
          <p>We all show up with our laptops and get hacking on our individual projects. When someone has a question (about Ruby, Rails or whatever), he (or she) can get help from other participants. Simple!</p>
        </div>
        <div class="span4">
          <h3><i class="icon-ok-circle"> </i> Signup </h3>
          <p>If you're planning to come to next event.</p>
          <a href="/auth/github" class="btn btn-large"><i class="icon-github"> </i> Signup with Github</a>
        </div>
        <div class="span4">
          <h3><i class="icon-home"> </i> Where </h3>
          <p>Notman House (51 sherbrooke west, corner of clarke, big grey worn-looking place)</p>
        </div>
      </div>
    </div>

    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
